global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]

  - job_name: 'grafana'
    static_configs:
      - targets: [ 'grafana:3000' ]

  - job_name: 'loki'
    static_configs:
      - targets: [ 'loki:3100' ]

  - job_name: 'admision-api'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ '192.168.100.242:8080' ] # Si usas Docker, apunta a tu IP o host